<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.hr.mapper.MenuMapper" >
    <resultMap id="BaseResultMap" type="io.github.hr.model.MenuDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="component" property="component" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
        <result column="enabled" property="enabled" jdbcType="BIT" />
        <association property="meta" javaType="io.github.hr.model.Meta">
            <result column="keepAlive" property="keepAlive" jdbcType="BIT" />
            <result column="requireAuth" property="requireAuth" jdbcType="BIT" />
        </association>
    </resultMap>
    <resultMap id="Menus2" type="io.github.hr.model.MenuDO" extends="BaseResultMap">
        <collection property="children" ofType="io.github.hr.model.MenuDO">
            <id column="id2" property="id" jdbcType="INTEGER" />
            <result column="url2" property="url" jdbcType="VARCHAR" />
            <result column="path2" property="path" jdbcType="VARCHAR" />
            <result column="component2" property="component" jdbcType="VARCHAR" />
            <result column="name2" property="name" jdbcType="VARCHAR" />
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR" />
            <result column="parentId2" property="parentId" jdbcType="INTEGER" />
            <result column="enabled2" property="enabled" jdbcType="BIT" />
            <association property="meta" javaType="io.github.hr.model.Meta">
                <result column="keepAlive2" property="keepAlive" jdbcType="BIT" />
                <result column="requireAuth2" property="requireAuth" jdbcType="BIT" />
            </association>
        </collection>
    </resultMap>
    <resultMap id="MenuWithRole" type="io.github.hr.model.MenuDO" extends="BaseResultMap">
        <collection property="roles" ofType="io.github.hr.model.RoleDO">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <resultMap id="MenuWithChildren" type="io.github.hr.model.MenuDO" extends="BaseResultMap">
        <id column="id1" property="id"/>
        <result column="name1" property="name"/>
        <collection property="children" ofType="io.github.hr.model.MenuDO">
            <id column="id2" property="id"/>
            <result column="name2" property="name"/>
            <collection property="children" ofType="io.github.hr.model.MenuDO">
                <id column="id3" property="id"/>
                <result column="name3" property="name"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getAllMenus" resultMap="MenuWithChildren">
        select m1.`id` as id1,m1.`name` as name1,m2.`id` as id2,m2.`name` as name2,m3.`id` as id3,m3.`name` as name3 from menu m1,menu m2,menu m3 where m1.`id`=m2.`parentId` and m2.`id`=m3.`parentId` and m3.`enabled`=true order by m1.`id`,m2.`id`,m3.`id`
    </select>
</mapper>